@{
    ViewData["Title"] = "Chat";
}

@model Psycho.io.Models.User.ChatViewModel

@section csss{
    <link href="~/css/chat.css" rel="stylesheet">
    <style>
        .display-none {
            display: none;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
}

@{
    var user = new
    {
        Name = User.Identity.Name,
        IsDoctor = User.IsInRole("Psychologist")
    };
}
<div id="chatUtils"
     class="display-none"
     send-message-url="@Url.Action("SendLiveChatMessage", "Chat")">
</div>

<div class="container" style="margin-top: 100px">
    <div class="card grey lighten-3 chat-room">
        <div class="card-body">
            <div class="row px-lg-2 px-2" style="height: 600px;">
                <div class="col-md-6 col-xl-4 px-0">
                    <h6 class="font-weight-bold mb-3 text-center text-lg-left">Members</h6>
                    <div class="white z-depth-1 px-3 pt-3 pb-3" style="height: 95%; overflow: auto;">
                        <ul class="list-unstyled friend-list">
                            @if (Model.Chats.Count == 0)
                            {
                                <li class="alert alert-info text-center no-active-chat-yet" role="alert">
                                    You have no active chats yet.
                                </li>
                            }
                            @foreach (var elem in Model.Chats)
                            {
                                <li id="@string.Format("user-{0}", elem.User.Id)" class="lighten-3 p-2">
                                    <a href="#" onclick="openChat('@elem.User.Id')" class="d-flex justify-content-between">
                                        @if (User.IsInRole("Psychologist"))
                                        {
                                            <img src="../img/user.png" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                        }
                                        else
                                        {
                                            <img src="../img/man.png" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                        }
                                        <div class="text-small">@elem.User.Email</div>
                                        <div class="chat-footer">
                                            @*<p class="text-smaller text-muted mb-0">Just now</p>
                                            <span class="badge badge-danger float-right">1</span>*@
                                        </div>
                                    </a>
                                </li>
                            }
                            @*<li class="lighten-3 p-2">
                                <a href="#" class="d-flex justify-content-between">
                                    <img src="../img/man.png" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                    <div class="text-small" id="receiver">komarov@gmail.com</div>
                                    <div class="chat-footer">
                                        <p class="text-smaller text-muted mb-0">Just now</p>
                                        <span class="badge badge-danger float-right">1</span>
                                    </div>
                                </a>
                            </li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0 main-chat-container">
                    <div class="chat-message chat-content center">
                        <div class="alert alert-success text-center" role="alert">
                            Please select a chat to start messaging
                        </div>
                    </div>
                    @foreach (var elem in Model.Chats)
                    {
                        <div id="@string.Format("chat-{0}", elem.User.Id)" class="chat-content display-none">
                            <div id="@string.Format("chat-scroll-{0}", elem.User.Id)" class="chat-message" style="height: 460px; overflow: auto;">
                                <ul id="@string.Format("chat-messages-{0}", elem.User.Id)" class="list-unstyled chat">
                                    @foreach (var message in elem.chat)
                                    {
                                        <li class="d-flex justify-content-between mb-4">
                                            @{ var messageSenderName = message.Sender.Email == user.Name ? "Me" : message.Sender.Email; }
                                            @*<img src="../img/man.png" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">*@
                                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                                <div class="header">
                                                    <strong class="primary-font">@messageSenderName</strong>
                                                    @*<small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>*@
                                                </div>
                                                <hr class="w-100">
                                                <p class="mb-0">
                                                    @message.Text
                                                </p>
                                            </div>
                                            @*else if (false)
                                            {
                                                <img src="../img/user.png" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                                                <div class="chat-body white p-3 ml-2 z-depth-1">
                                                    <div class="header">
                                                        <strong class="primary-font">@elem2.Sender.Email (Me)</strong>
                                                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                                                    </div>
                                                    <hr class="w-100">
                                                    <p class="mb-0">
                                                        @elem2.Text
                                                    </p>
                                                </div>
                                            }*@
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div>
                                <div class="white">
                                    <div class="form-group basic-textarea">
                                        <textarea class="form-control pl-2 my-0" id="@string.Format("message-{0}", elem.User.Id)" rows="3" placeholder="Type your message here..."></textarea>
                                    </div>
                                </div>
                                <button onclick="sendMessageButtonClick('@elem.User.Id', '@elem.User.Email')" type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/js/signalr.min.js"></script>
<script type="text/javascript" src="~/js/forsignalr.js"></script>
<script type="text/javascript">
    var friendId = "@Html.Raw(Model.OnChatWithOpen?.Id)";
    var friendEmail = "@Html.Raw(Model.OnChatWithOpen?.Email)";
    openChatOrAddIfNotExists(friendId, friendEmail);
</script>
}