@model Psycho.io.Models.User.FullAppointmentResultViewModel
@{
    var content = ((HospitalContent)ViewData["lang"])?.Users?.ShowAppointmentResult;
}

<style>

    p {
        margin-bottom: 5px !important;
        margin-block-start: 0px !important;
        margin-block-end: 0px !important;
    }
</style>

<form id="appointmentForm">
    <div class="col-md-12 mb-4">
        <div class="modal-content form-elegant">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold" id="myModalLabel"><strong>@(content?.PageTitle ?? "Appointment")</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-4">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Patient ?? "Patient"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@string.Format("{0} {1}", Model.Patient.FirstName, Model.Patient.LastName)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Age ?? "Age"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Patient.Age</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Gender ?? "Gender"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Patient.Gender.ToString()</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Address ?? "Address"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Patient.Address</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Doctor ?? "Doctor"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@string.Format("{0} {1}", Model.Doctor.FirstName, Model.Doctor.LastName)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Date ?? "Date"):</p>
                            </div>
                            <div class="col-md-6">
                                <p>@string.Format("{0}/{1}/{2}", Model.Date?.Month, Model.Date?.Day, Model.Date?.Year)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-right">@(content?.Status ?? "Status"):</p>
                            </div>
                            <div class="col-md-6">
                                @switch (Model.Status)
                                {
                                    case "Finished":
                                        <span class="badge badge-danger">@(content?.FinishedStatus ?? Model.Status)</span>
                                        break;
                                    case "Planned":
                                        <span class="badge badge-secondary">@(content?.PlannedStatus ?? Model.Status)</span>
                                        break;
                                    default:
                                        <span class="badge badge-success">@(content?.СontinuesStatus ?? Model.Status)</span>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Status != "Planned")
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h5>@(content?.Analyzes ?? "Analyzes")</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="table" class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@(content?.Name ?? "Name")</th>
                                            <th class="text-center">@(content?.Result ?? "Result")</th>
                                            <th class="text-center">@(content?.DoctorConclusion ?? "Doctor conclusion")</th>
                                            <th class="text-center">@(content?.File ?? "File")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="analyses-content">
                                        @foreach (var analysis in Model.Analyses)
                                        {
                                            <tr id="@string.Format("analysis-{0}", analysis.Id)">
                                                <td>@analysis.Name</td>
                                                <td>@analysis.AnalysisResult</td>
                                                <td>@analysis.DoctorConclusion</td>
                                                <td>
                                                    <a onclick="downloadAnalysis('@analysis.Id')" class="btn btn-info btn-rounded btn-sm my-0">@(content?.DownloadBtn ?? "Download")</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model.Analyses.Count == 0)
                                {
                                    <div class="alert alert-info text-center" role="alert">
                                        @(content?.ResultNotAvailable ?? "The results of the analyzes are not yet available.")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                <hr />

            </div>
        </div>
    </div>
</form>
