
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Psycho.io</title>

    @Html.Partial("_Favicons")

    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet">
    <link href="~/css/fullcalendar.css" rel="stylesheet">

    <!--Sign in modal-->
    <link href="~/css/signin.css" rel="stylesheet">
    <!--<link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.7.min.css?ver=4.7.7" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


    @RenderSection("csss", required: false)

</head>
<body class="medical-lp">

    <!--Navigation & Intro-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="../img/psycho.png" s /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Links-->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Psychologist" asp-action="Index">Psychologists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" data-offset="100">About</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#services" data-offset="100">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features" data-offset="100">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials" data-offset="100">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-info">Info</a>
                    </li>-->
                </ul>

                <!--Social Icons-->
                <ul class="navbar-nav ">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Admin" asp-action="Index" class="nav-link"><i class="fas fa-users-cog"></i></a>
                            </li>
                        }
                        @if (User.IsInRole("Psychologist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Profile" asp-controller="User">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="DashboardPsychologist" class="nav-link"><i class="far fa-calendar-alt"></i></a>
                            </li>
                        }
                        else if (User.IsInRole("AuthorizedUser"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Profile" asp-controller="User">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="DashboardAuthorizedUser" class="nav-link"><i class="far fa-calendar-alt"></i></a>
                            </li>
                        }
                        <li class="nav-item">
                            <a id="sign-out" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="sign-in" class="nav-link">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a id="sign-up" asp-controller="Account" asp-action="Signup" class="nav-link">Sign up</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--/Navbar-->

    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="dialogContent" class="modal-dialog" role="document"></div>
    </div>

    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="dialogContentUp" class="modal-dialog form-dark" role="document"></div>
    </div>

    @RenderBody()

    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/mdb.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/sign-in.js"></script>
    <script type="text/javascript" src="~/js/sign-up.js"></script>
    <script type="text/javascript" src="~/js/sign-out.js"></script>
    <script type="text/javascript" src="~/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/js/fullcalendar.js"></script>
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fas fa-clock',
                date: 'fas fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check-o',
                clear: 'fas fa-trash',
                close: 'fas fa-times'
            }
        });</script>

    @RenderSection("scripts", required: false)

</body>
</html>
