@model Psycho.DTO.Core.CreatePsychologistDTO

@{
    var content = ((HospitalContent)ViewData["lang"])?.Admin?.CreateDoctor;
}

<form asp-controller="Admin" asp-action="CreatePsychologist"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#creationUserInfo"
      data-ajax-success="SuccessCreate">
    <div class="col-md-12 mb-4">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>@(content?.PageTitle ?? "Create doctor")</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-4">
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                            <input type="text" id="form12" class="form-control form-control-sm" asp-for="Position" required>
                            <label for="form12" class="" asp-for="Position">@(content?.Position ?? "Position")</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                            <input type="email" id="form3" class="form-control form-control-sm" asp-for="Email" required>
                            <label for="form3" class="" asp-for="Email">@(content?.Email ?? "Email address")</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4">

                        <div class="md-form form-sm mb-0">
                            <input type="password" id="form4" class="form-control form-control-sm" asp-for="Password" required>
                            <label for="form4" class="disabled" asp-for="Password">@(content?.Password ?? "Password")</label>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>


                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6">

                        <div class="md-form form-sm mb-0">
                            <input type="text" id="firstName" class="form-control form-control-sm" asp-for="FirstName" required>
                            <label for="form5" class="" asp-for="FirstName">@(content?.FirstName ?? "First name")</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6">

                        <div class="md-form form-sm mb-0">
                            <input type="text" id="lastName" class="form-control form-control-sm" asp-for="LastName" required>
                            <label for="lastName" class="" asp-for="LastName">@(content?.LastName ?? "Last name")</label>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="md-form form-sm mb-0">
                            <input type="text" id="form6" class="form-control form-control-sm" asp-for="Address" required>
                            <label for="form6" class="" asp-for="Address">@(content?.Address ?? "Address")</label>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12">

                        <div class="md-form form-sm mb-0">
                            <input type="tel" id="form7" class="form-control form-control-sm" aria-describedby="materialRegisterFormPhoneHelpBlock" asp-for="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                            <label for="form7" class="" asp-for="Phone">@(content?.PhoneNumber ?? "Phone number")</label>
                            <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                                @(content?.PhoneNumberFormat ?? "Format: 123-456-7890")
                            </small>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6">

                        <div class="md-form form-sm mb-0">
                            <select class="browser-default custom-select custom-select-md" asp-for="Gender" required>
                                <option selected value="">@(content?.Gender ?? "Gender")</option>
                                <option value="Male">@(content?.Male ?? "Male")</option>
                                <option value="Female">@(content?.Female ?? "Female")</option>
                                <option value="Other">@(content?.Other ?? "Other")</option>
                            </select>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6">

                        <div class="mb-3 md-form">
                            <!--<input type="datetime" name="date" id="date" class="form-control datepicker" asp-for="HireDate">
    <label for="date">Hire Date</label>-->

                            @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required"} })
                            <label for="HireDate">@(content?.HireDate ?? "Hire Date")</label>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>

                <hr />

                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12">


                        <div class="text-center mb-3">
                            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">@(content?.CreateBtn ?? "Create")</button>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</form>

@section scripts {

}