@{
    Layout = "_AdminPageLayout";
    ViewData["Title"] = "Admin page";
}

@using Psycho.DTO.Core
@using Psycho.DTO.Persistence
@using System.Web
@model ReportsForAdminDTO

@section csss {
    <link href="~/css/admin/datatables.min.css" rel="stylesheet">
    <link href="~/css/page.css" rel="stylesheet">
}


<main style="min-height: 100vh;">
    <div class="container-fluid mb-5">

        <!-- Section: Basic examples -->
        <section>
            <div class="col-md-12">

                <div class="d-flex justify-content-between">
                    <h5 class="my-4 dark-grey-text font-weight-bold">Reports for review</h5>
                </div>

                <div class="card">
                    <div class="card-body">
                        <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    @foreach (var header in Model.ColumnHeaders)
                                    {
                                        <th>@header</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var reports in Model.reports)
                                {
                                    <tr>

                                        @foreach (var elem in reports.ToList())
                                        {
                                            <td>@elem</td>
                                        }
                                        <td>
                                            @Html.ActionLink("Approve", "ReportsForReview", "Admin", new { id = reports.Id, kek = true }, new
                                                {
                                                    data_ajax = "true",
                                                    data_ajax_method = "GET",
                                                    data_ajax_mode = "replace",
                                                    data_ajax_update = "editUserInfo",
                                                    data_ajax_success = "AppRem",
                                                    @class = "btn btn-rounded btn-outline-default btn-md",
                                                   
                                                })

                                            @Html.ActionLink("Remove", "ReportsForReview", "Admin", new { id = reports.Id, kek = false }, new
                                                {
                                                    data_ajax = "true",
                                                    data_ajax_method = "GET",
                                                    data_ajax_mode = "replace",
                                                    data_ajax_update = "editUserInfo",
                                                    data_ajax_success = "AppRem",
                                                    @class = "btn btn-rounded btn-outline-default btn-md",
                                                   
                                                })

                                            @*<a class="btn btn-rounded btn-outline-default btn-md" asp-controller="Admin" asp-action="ReportsForReview">Approve</a>
                                            <a class="btn btn-rounded btn-outline-default btn-md" asp-controller="Admin" asp-action="ReportsForReview">Remove</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    @foreach (var header in Model.ColumnHeaders)
                                    {
                                        <th>@header</th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>
<footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2019 Copyright: <a href="#" target="_blank"> VL </a>
        </div>
    </div>
    <!--/.Copyright -->
</footer>

@section scripts {
<script type="text/javascript" src="~/js/admin/kek.js"></script>
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.js"></script>
}